{% extends '::base.html.twig' %}
{% block headTitle %}{{ proyecto.nombre }}{% endblock %}
{% block body %}
    <h1>
        Proyecto: {{ proyecto.nombre }}
    </h1>
    <div class="col-sm-offset-1 col-sm-10">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a class="nav-link " data-toggle="tab" href="#documentos" role="tab">
                    <span class="hidden-xs hidden-sm">Documentos</span>
                    <span class="glyphicon glyphicon-file hidden-md hidden-lg "></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#descripcion" role="tab">
                    <span class="hidden-xs hidden-sm">Descripción</span>
                    <span class="glyphicon glyphicon-blackboard hidden-md hidden-lg "></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tareas" role="tab">
                    <span class="hidden-xs hidden-sm">Tareas</span>
                    <span class="glyphicon glyphicon-bullhorn hidden-md hidden-lg "></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#equipo" role="tab">
                    <span class="hidden-xs hidden-sm">Equipo</span>
                    <span class="glyphicon glyphicon-user hidden-md hidden-lg "></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#mensajes" role="tab">
                    <span class="hidden-xs hidden-sm">Mensajes</span>
                    <span class="glyphicon glyphicon-inbox hidden-md hidden-lg "></span>
                </a>
            </li>
        </ul>
        <div class = "jumbotron" style="padding: 7%;">
            <a href="{{ path('app_proyecto_editar', {'id': proyecto.id}) }}" class=" top-right-icon btn edit" style="margin-right:5% !important;"> <i class="glyphicon glyphicon-edit"></i></a>
            <a href="{{ path('app_proyecto_borrar', {'id': proyecto.id}) }}" class=" top-right-icon btn delete"><i class="glyphicon glyphicon-remove"></i></a>
            <!-- Tab panes -->
            <div class="tab-content" id="myTab">
                <div class="tab-pane active" id="documentos" role="tabpanel">
                    <h2>Documentos<a class="margen-iz" href="{{ path('app_index_upload', {'id': proyecto.id}) }}"><button> Subir </button></a></h2>
                    <hr>
                    {% if proyecto.documentos|length ==0 %}
                        <h4>No hay documentos asociados a este proyecto.</h4>
                    {% endif %}
                    {% for doc in proyecto.documentos %}
                        <a style="float:right" href="{{ path('app_proyecto_borrar_doc', {'id': doc.id}) }}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a href="{{ asset('uploads/brochures/' ~ doc.brochure) }}">
                            <div class="container-fluid">
                                <div class="col-xs-12">
                                    <div class="col-xs-1">
                                        <img src="{{ asset('images/pdf.png') }}" height="50px" width="50px"/>
                                    </div>
                                    <div class="col-xs-9">
                                        {{ doc.nombre }} (PDF)
                                    </div>

                                </div>
                            </div>
                        </a>

                    {% endfor %}
                </div>
                <div class="tab-pane" id="descripcion" role="tabpanel">
                    <h2>Descripción</h2>
                    <hr>
                    <p>Nombre: {{ proyecto.nombre }}</p>
                    <p>Descripción: {{ proyecto.descripcion }}</p>
                    <p>Categoria: {{ proyecto.categoria }}</p>
                </div>
                <div class="tab-pane" id="tareas" role="tabpanel">
                    <h2>Tareas<a class="margen-iz" href="{{ path('app_tarea_nueva',{'id':proyecto.id}) }}"><button > Añadir </button></a></h2>
                    <hr>
                    {% if proyecto.tareas|length == 0 %}
                        <h2>No hay tareas assignadas a este proyecto</h2>
                    {% endif %}
                    {% for tarea in proyecto.tareas %}
                        <div id="proyecto" class="container-fluid" style="padding: 10px;;margin: 10px; background-color:#f5f5f5">
                            <div class="col-sm-12" style="padding: 10px;">
                                <a href="{{ path('app_tarea_borrar', {'id': tarea.id}) }}" style="float:right" type="text" class="deletecoment glyphicon glyphicon-remove"></a>
                                <span class="margen-iz2">{{ tarea.nombre }}</span>
                                <hr>
                                <span class="margen-iz2">
                                    <span class=" margen-iz2 glyphicon glyphicon-calendar"></span>
                                    Fecha de entrega: {{ tarea.endDate|date('d-m-Y') }}
                                </span>
                                <hr>
                                {% for persona in tarea.assignado %}
                                    <div class="col-xs-12 col-sm-3 margen-iz" style="border-radius:5%;background-color:#98acf6 ">
                                        <a href="{{ path('app_tarea_borrarasignado', {'id': persona.id, 'tareaid': tarea.id}) }}" style="margin-top:2%;float:right" type="text" class="deletecoment glyphicon glyphicon-remove"></a>
                                        {{ persona.username }}
                                    </div>
                                {% endfor %}
                                <br>
                                <br>
                                <a type="button" data-toggle="modal" data-target="#myModal">Asignar a esta tarea...</a>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Equipo</h4>
                                            </div>
                                            <div class="modal-body">
                                                <ul class="list-group"></ul>
                                                {% for persona in tarea.proyecto.equipo %}
                                                    {% if persona not in tarea.assignado %}
                                                    <li class="list-group-item">
                                                        <a href="{{ path('app_perfil_mostrar', {'id': persona.id}) }}"><img src="{{ asset('images/perfil.png') }}" height="35px" width="35px">
                                                            {{ persona.username }}
                                                        </a>
                                                        <a href="{{ path('app_tarea_asignar', { 'id': persona.id,'tareaid': tarea.id}) }}"><button style="float:right;margin-right: 2%">Add</button></a>

                                                    </li>
                                                    {% endif %}
                                                {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                                <span class="margen-iz2">Descripción: {{ tarea.descripcion }}</span>
                                <br />
                                <hr>
                                <div class="container-fluid">

                                    <div class="col-xs-6">
                                        <span class="margen-iz2">Proyecto: {{ tarea.proyecto.nombre }}</span>
                                        <br />
                                        <span class="margen-iz2">Coste : {{ tarea.coste }}</span>
                                        <br />
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="margen-iz2">Completada : {{ tarea.completada ? 'Si':'No' }}</span>
                                        <br />
                                        <span class="margen-iz2">Fecha inicio : {{ tarea.startDate|date('d-m-Y') }}</span>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>


                    {% endfor %}


                </div>

                <div class="tab-pane" id="equipo" role="tabpanel">
                    {% if (app.user == proyecto.autor) %}
                    <h5>Añade gente al equipo de tu lista de contactos.<button id="mostrarcontactos">Mostrar</button></h5>
                    {% endif %}
                        <div class="listaContactos panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Lista de contactos</h3>
                            </div>
                            {% for persona in contactosdelUsuario %}
                                {% if persona not in proyecto.equipo %}
                                <div class="panel-body">
                                    <div class="col-xs-10">
                                        <p><small>Nombre de usuario:</small> {{ persona.username }}</p>
                                    </div>
                                    <div class="col-xs-2">
                                        <a href="{{ path('app_proyecto_notificacion_equipo', {'id': persona.id, 'projectid': proyecto.id}) }}">
                                            <button class="contactadded"><span class="glyphicon glyphicon-plus-sign"></span></button>
                                        </a>
                                    </div>
                                </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                    <h2>Equipo</h2>
                    {% for persona in proyecto.equipo %}
                        <div style="padding:5px;margin: 10px; background-color:#f5f5f5">
                            <a style="float:right" type="text" class="deletecoment glyphicon glyphicon-remove"></a>
                            <a href="{{ path('app_perfil_mostrar', {'id': persona.id}) }}"><img src="{{ asset('images/perfil.png') }}" height="28px" width="28px"></a>
                            <a href="{{ path('app_perfil_mostrar', {'id': persona.id}) }}">
                                <strong>{{persona.username}}</strong>
                            </a>
                            <span class="tareas-margin">Numero de tareas assignadas: {{ persona.tareasassignadas|length }}</span>
                            <br />
                        </div>
                    {% endfor %}
                </div>
                <div class="tab-pane" id="mensajes" role="tabpanel">
                    <h2>Mensajes
                        {#<a class="margen-iz" href="{{ path('app_proyecto_addMessage', {'id': proyecto.id}) }}">#}
                            {#<button> Comentar </button>#}
                        {#</a>#}

                    </h2>
                    {{ form_start(form) }}
                        {{ form_row(form.contenido) }}
                        {{ form_rest(form) }}
                        <div class="submitMessagebtn col-sm-offset-9"><input type="submit" value="Enviar"></div>
                    {{ form_end(form) }}


                    <hr>

                    {% if proyecto.mensajes|length == 0 %}
                        <h4>No hay mensajes,se el primero en comentar...</h4>
                    {% else %}
                        {% for mensaje in proyecto.mensajes %}
                            <div style="padding:2%;background-color:#f5f5f5">
                                <a href="{{ path('app_proyecto_borrarMensaje', {'id': mensaje.id,'projectid': mensaje.proyecto.id}) }}" style="float:right" type="text" class="deletecoment glyphicon glyphicon-remove"></a>
                                <a href="{{ path('app_perfil_mostrar', {'id': mensaje.autorMensaje.id}) }}"><img src="{{ asset('images/perfil.png') }}" height="35px" width="35px"></a>

                                    <a href="{{ path('app_perfil_mostrar', {'id': mensaje.autorMensaje.id}) }}">
                                        <strong>{{mensaje.autorMensaje.username}}</strong>
                                    </a>
                                    <span style="margin: 1%;">  {{ mensaje.contenido }}</span>

                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <hr/>
                {% if false %}
                <div style="float:right">
                    <button class="btn btn-success"> Acceptar</button>
                    <button class="btn btn-danger"> Rechazar</button>
                </div>
                {% endif %}

            </div>
        </div>
    </div>



{% endblock %}
