{% extends '::base.html.twig' %}

{% block body %}
    <h1>Proyectos<a href="{{ path('app_proyecto_nuevo') }}" style="margin-left:5% !important;"><button class="btn btn-primary"> A침adir </button></a></h1>
    <div class="container-fluid container-margin">
        {% for proyecto in proyectos %}
            <div class="col-sm-3  thumbnail project-margin" >
                <a href="{{ path('app_proyecto_mostrar', {'id': proyecto.id}) }}"><p style="font-size: 1.5em;padding:2%">{{ proyecto.nombre}}</p></a>
                <a class="thumbnail" href="{{ path('app_proyecto_mostrar', {'id': proyecto.id}) }}"><img src="{{ asset('images/planificacion_default.jpg') }}"/></a>
                <a href="{{ path('app_proyecto_editar', {'id': proyecto.id}) }}" class=" top-right-icon btn edit" style="margin-right:15% !important;"> <i class="glyphicon glyphicon-edit"></i></a>
                <a href="{{ path('app_proyecto_borrar', {'id': proyecto.id}) }}" class=" top-right-icon btn delete"><i class="glyphicon glyphicon-remove"></i></a>
                <hr>
                <h5><strong>Informaci칩n de la planificaci칩n: </strong></h5>
                <hr>
                <p class="preview">Descripci칩n: {{ proyecto.descripcion}}</p>
                <p>Categoria: {{ proyecto.categoria}}</p>
                <p>Autor: <a href="{{ path('app_perfil_mostrar',{'id': proyecto.autor.id}) }}">{{ proyecto.autor}}</a></p>
            </div>
        {% endfor %}
    </div>
    <div style="height: 200px"></div>
{% endblock %}