{% extends '::base.html.twig' %}
{% block headTitle %}{{ proyecto.nombre }}{% endblock %}
{% block body %}
    <h1>
        Proyecto: {{ proyecto.nombre }}
    </h1>
    <div class="col-sm-offset-1 col-sm-10">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item active">
                <a class="nav-link " data-toggle="tab" href="#documentos" role="tab">
                    <span class="hidden-xs hidden-sm">Documentos</span>
                    <span class="glyphicon glyphicon-file hidden-md hidden-lg "></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#descripcion" role="tab">
                    <span class="hidden-xs hidden-sm">Descripción</span>
                    <span class="glyphicon glyphicon-blackboard hidden-md hidden-lg "></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tareas" role="tab">
                    <span class="hidden-xs hidden-sm">Tareas</span>
                    <span class="glyphicon glyphicon-bullhorn hidden-md hidden-lg "></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#equipo" role="tab">
                    <span class="hidden-xs hidden-sm">Equipo</span>
                    <span class="glyphicon glyphicon-user hidden-md hidden-lg "></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#mensajes" role="tab">
                    <span class="hidden-xs hidden-sm">Mensajes</span>
                    <span class="glyphicon glyphicon-inbox hidden-md hidden-lg "></span>
                </a>
            </li>
        </ul>
        <div class = "jumbotron" style="padding: 7%;">
            <a href="{{ path('app_proyecto_editar', {'id': proyecto.id}) }}" class=" top-right-icon btn edit" style="margin-right:5% !important;"> <i class="glyphicon glyphicon-edit"></i></a>
            <a href="{{ path('app_proyecto_borrar', {'id': proyecto.id}) }}" class=" top-right-icon btn delete"><i class="glyphicon glyphicon-remove"></i></a>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="documentos" role="tabpanel">
                    <h2>Documentos<a class="margen-iz" href="#"><button > Subir</button></a></h2>
                    <hr>
                    {% if true %}
                        <h4>No hay documentos asociados a este proyecto.</h4>
                    {% endif %}
                </div>
                <div class="tab-pane" id="descripcion" role="tabpanel">
                    <h2>Descripción</h2>
                    <hr>
                    <p>Nombre: {{ proyecto.nombre }}</p>
                    <p>Descripción: {{ proyecto.descripcion }}</p>
                    <p>Categoria: {{ proyecto.categoria }}</p>
                </div>
                <div class="tab-pane" id="tareas" role="tabpanel">
                    <h2>Tareas<a class="margen-iz" href="{{ path('app_tarea_nueva',{'id':proyecto.id}) }}"><button > Añadir </button></a></h2>
                    <hr>
                    {% if proyecto.tareas|length == 0 %}
                        <h2>No hay tareas assignadas a este proyecto</h2>
                    {% endif %}
                    {% for tarea in proyecto.tareas %}
                        <div id="proyecto" class="container-fluid" style="padding:5px;margin: 10px; background-color:#f5f5f5">
                            <div class="col-sm-1">
                                <input type="checkbox"
                                        {% if tarea.completada %}
                                            checked
                                        {% endif %}
                                />
                            </div>
                            <div class="col-sm-11">
                                <a href="{{ path('app_tarea_borrar', {'id': tarea.id}) }}" style="float:right" type="text" class="deletecoment glyphicon glyphicon-remove"></a>
                                <span style="margin-left: 2%">Nombre : {{ tarea.nombre }}</span>
                                <br />
                                <span style="margin-left: 2%">Descripción: {{ tarea.descripcion }}</span>
                                <br />
                                <span style="margin-left: 2%">Coste : {{ tarea.coste }}</span>
                                <br />
                                <span style="margin-left: 2%">Completada : {{ tarea.completada ? 'Si':'No' }}</span>
                                <br />
                                <span style="margin-left: 2%">Fecha inicio : {{ tarea.startDate|date('d-m-Y') }}</span>
                                <span style="margin-left: 2%">Fecha fin : {{ tarea.endDate|date('d-m-Y') }}</span>
                                <br />
                            </div>
                        </div>
                    {% endfor %}


                </div>

                <div class="tab-pane" id="equipo" role="tabpanel">
                    <h2>Equipo</h2>
                    <h5>Añade gente al equipo de tu lista de contactos.<button id="mostrarcontactos">Mostrar</button></h5>
                    <div class="listaContactos">
                        {% for persona in contactosdelUsuario %}
                            <div class="col-xs-8">
                                {{ persona.id }}-{{ persona.username }}
                            </div>
                            <div class="col-xs-4">
                                <a href="#">
                                    <button class="contactadded"><span class="glyphicon glyphicon-plus-sign"></span></button>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <br>

                    {% for persona in proyecto.equipo %}
                    <div style="padding:5px;margin: 10px; background-color:#f5f5f5">
                        <a style="float:right" type="text" class="deletecoment glyphicon glyphicon-remove"></a>
                        <a href="{{ path('app_perfil_mostrar', {'id': persona.id}) }}"><img src="{{ asset('images/perfil.png') }}" height="28px" width="28px"></a>
                        <a href="{{ path('app_perfil_mostrar', {'id': persona.id}) }}">
                            <strong>{{persona.username}}</strong>
                        </a>
                        <span style="margin-left: 5%">Numero de tareas assignadas: 0</span>
                        <span style="margin-left: 5%">Coste de las tareas assignadas: 0</span>
                        <br />
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane" id="mensajes" role="tabpanel">
                    <h2>Mensajes
                        {#<a class="margen-iz" href="{{ path('app_proyecto_addMessage', {'id': proyecto.id}) }}">#}
                            {#<button> Comentar </button>#}
                        {#</a>#}

                    </h2>
                    {{ form_start(form) }}
                        {{ form_row(form.contenido) }}
                        {{ form_rest(form) }}
                        <div class="submitMessagebtn col-sm-offset-9"><input type="submit" value="Enviar"></div>
                    {{ form_end(form) }}


                    <hr>

                    {% if proyecto.mensajes|length == 0 %}
                        <h4>No hay mensajes,se el primero en comentar...</h4>
                    {% else %}
                        {% for mensaje in proyecto.mensajes %}
                            <div style="padding:2%;background-color:#f5f5f5">
                                <a href="{{ path('app_proyecto_borrarMensaje', {'id': mensaje.id,'projectid': mensaje.proyecto.id}) }}" style="float:right" type="text" class="deletecoment glyphicon glyphicon-remove"></a>
                                <a href="{{ path('app_perfil_mostrar', {'id': mensaje.autorMensaje.id}) }}"><img src="{{ asset('images/perfil.png') }}" height="35px" width="35px"></a>

                                    <a href="{{ path('app_perfil_mostrar', {'id': mensaje.autorMensaje.id}) }}">
                                        <strong>{{mensaje.autorMensaje.username}}</strong>
                                    </a>
                                    <span style="margin: 1%;">  {{ mensaje.contenido }}</span>

                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <hr/>
                {% if false %}
                <div style="float:right">
                    <button class="btn btn-success"> Acceptar</button>
                    <button class="btn btn-danger"> Rechazar</button>
                </div>
                {% endif %}

            </div>
        </div>
    </div>



{% endblock %}
