{% extends '::base.html.twig' %}

{% block body %}
    <h1>Notificaciones</h1>
    <div class="media">
        {% if (notificaciones|length == 0) %}
            <div class="col-sm-offset-1">
                <h3>Todo al día no tienes notificaciones, de momento...</h3>
            </div>

        {% else %}

            {% for n in notificaciones %}
                <div class="media-left media-middle">
                    <a href="{{ path('app_perfil_mostrar', {'id': n.sender.id}) }}">
                        <img class="media-object" height="150px" width="150px" src="{{ asset('images/perfil.png') }}" alt="foto_perfil">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ n.sender }}</h4>
                    <p>Nota: <br>{{ n.nota }}</p>
                </div>

                {% if n.motivo == 1 %}
                    <div style="float:right">
                        <a href="{{ path('app_notificacion_aceptar', {'id': n.id}) }}"><button>Aceptar</button></a>

                        <a href="{{ path('app_notificacion_borrar', {'id': n.id}) }}">
                            <button>Rechazar</button>
                        </a>
                    </div>
                {% else %}
                    <a href="{{ path('app_notificacion_borrar', {'id': n.id}) }}">
                        <button> Entendido!</button>
                    </a>

                {% endif %}

            {% endfor %}
        {% endif %}
    </div>

    <div style="height: 200px"></div>
{% endblock %}