{% extends '::base.html.twig' %}

{% block body %}
    <h1>Planificaciones<a href="{{ path('app_planificacion_nueva') }}" style="margin-left:5% !important;"><button class="btn btn-primary"> Añadir </button></a></h1>
    <div class="container col-sm-12">
    {% for planificacion in planificaciones %}
        <div class="col-sm-3 col-sm-offset-1">

            <a href="{{ path('app_planificacion_editar', {'id': planificacion.id}) }}" class=" top-right-icon btn edit" style="margin-right:15% !important;"> <i class="glyphicon glyphicon-edit"></i></a>
            <a href="{{ path('app_planificacion_borrar', {'id': planificacion.id}) }}" class=" top-right-icon btn delete"><i class="glyphicon glyphicon-remove"></i></a>
            <p>{{ planificacion.nombre}}</p>
            <p>{{ planificacion.descripcion}}</p>
            <p>{{ planificacion.categoria}}</p>
        </div>
    {% endfor %}
    </div>
    <div style="height: 200px"></div>
{% endblock %}