{% extends '::base.html.twig' %}

{% block body %}
    <h1>Perfil de {{ usuario.username }}</h1>
    <div class="container-fluid col-sm-12">

        <div class="col-sm-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-thumbnail"><img src="{{ asset('images/perfil.png') }}" style="margin:0 auto" class="img-responsive"></div>
                <hr>
                <div class="panel-body">
                    <p class="lead">{{ usuario.username }}</p>
                    <h5><strong style="margin-bottom: 4%;">Informaci칩n del usuario: </strong></h5>
                    <p>Nombre de usuario: {{ usuario.username }}</p>
                    <p>Email : {{ usuario.email }}</p>
                    <p>Fecha de registro : {{ usuario.createdAt|date('Y-m-d')  }}</p>

                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-8">
            <div class = "jumbotron" style="padding: 7%;">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="tab" href="#proyectos" role="tab">Proyectos creados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tareas" role="tab">Tareas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#contactos" role="tab">Contactos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#calendario" role="tab">Calendario</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content perfil-tabs">
                    <div class="tab-pane active" id="proyectos" role="tabpanel">
                        <div class="container-fluid">
                        {% for proyecto in usuario.proyectosCreados %}
                            <div class="col-sm-5  thumbnail project-margin" >
                                <a href="{{ path('app_proyecto_mostrar', {'id': proyecto.id}) }}"><p style="font-size: 1.5em;padding:2%">{{ proyecto.nombre}}</p></a>
                                <a class="thumbnail" href="{{ path('app_proyecto_mostrar', {'id': proyecto.id}) }}"><img src="{{ asset('images/planificacion_default.jpg') }}"/></a>
                                <p class="preview">Descripci칩n: {{ proyecto.descripcion}}</p>
                                <p>Categoria: {{ proyecto.categoria}}</p>
                                <p>Autor: <a href="{{ path('app_perfil_mostrar',{'id': proyecto.autor.id}) }}">{{ proyecto.autor}}</a></p>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane" id="tareas" role="tabpanel">
                        <div class="container">
                            <h3 style="text-align: left">Tareas</h3>
                            <hr>
                            {% if usuario.tareasassignadas|length == 0 %}
                                <h2>Ninguna tarea asignada</h2>
                            {% endif %}
                            {% for tarea in usuario.tareasassignadas %}
                                <div style="padding:5px;margin: 10px; background-color:#f5f5f5">
                                    <a style="float:right" type="text" class="deletecoment glyphicon glyphicon-remove"></a>
                                    <span style="margin-left: 2%">Nombre : {{ tarea.nombre }}</span>
                                    <span style="margin-left: 2%">Descripci칩n {{ tarea.descripcion }}</span>
                                    <span style="margin-left: 2%">Coste : {{ tarea.coste }}</span>
                                    <span style="margin-left: 2%">Fecha inicio : {{ tarea.startDate|date('d-m-Y') }}</span>
                                    <span style="margin-left: 2%">Fecha fin : {{ tarea.endDate|date('d-m-Y')  }}</span>
                                    <br />
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane" id="contactos" role="tabpanel">
                        <div class="container">
                            <h3 style="text-align: left"> Contactos</h3>
                            <hr>
                            <!-- usuario.tareasassignadas|length == 0 -->
                            {% if true %}
                                <h2>Ningun contacto a침adido.</h2>
                            {% endif %}


                        </div>

                    </div>
                    <div class="tab-pane" id="calendario" role="tabpanel">
                        4
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 200px"></div>
{% endblock %}
